/******************************
* Tables
******************************/
.cell {
  display: table-cell;
  text-align: center;
}

.fit {
  @include AutosizeToContent;
}

.centreColumn {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  max-width: 940px;
}

.main.addPadding {
  /*
  * For some unknown reason, this value cannot exceed 72px;
  * otherwise, a big black box shows up when you hover over
  * some of the menu items (e.g. franchises).
  */
  // margin-top:70px;  

  margin-top:20px; // override for issue SGR-99

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// Gradient Header Text - Webkit Browsers Only
.webkit {
  h2 {
    strong {
      @include Oswald-Light;
      font-weight: normal;
      font-size:48px;
      display: inline-block;
      width:auto;
      line-height:64px;

      background: linear-gradient(330deg, #e51937 0%, #ffcf0a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    }
  }
}

// Gradient Header Text - Webkit Browsers Only
.mozilla {
  h2 {
    strong {
      @include Oswald-Light;
      font-weight: normal;
      font-size:48px;
      display: inline-block;
      width:auto;
      line-height:64px;
      // color:#e51937;
      color:$colour_yellow;
    }
  }
}



.textContent {
  ul {
    padding:0;
    padding-left:17px;

    &.spaced {
      li {
        padding-bottom:2.25em;
      }
    }

  }

  li {
    line-height: 1.75em;
  }
}

.btn {
  background-color: $colour_red;
  color: $colour_white;
  @include Lato-Regular;
  font-size:14px;
  padding:5px;
  border-radius: 0;
  border:1px solid $colour_red;
  outline:none!important;
  text-transform: uppercase;

  &:focus {
    color:$colour_white;
  }

  &:active,
  &:hover {
    background-color:$colour_white;
    color:$colour_red;
    border:1px solid $colour_red;
    outline:none!important;
    box-shadow:none;
    outline-offset: 0;
  }



}


input {
  border:1px solid $colour_red;
  font-size:14px;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:7px;

  outline:none;
  &:focus,
  &:active {
    outline:none;
  }
}

select {
  border:1px solid $colour_red;
  padding-top:1px;
  padding-bottom:7px;
  color:$colour_grey_light;

  // &:hover { background-color: red; }
}


.btn-rev {
  background-color:$colour_white;
  color:$colour_red;

  &:hover,
  &:active {
    background-color: $colour_red;
    color: $colour_white;
  }

  &:focus {
    background-color:$colour_white;
    color:$colour_red;
  }

}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */





