.featured-dishes {
  width:80%;
  max-width: 940px;
  @include CentringMargins;

  $bannerHeight: 38px;
  >.container {
    width:100%;
    @include SetPadding(0);
  }

  .featured-dish {
    // height:234px;
    // padding:0 10px;

    >.container {
      text-align: center;
    }
    img {
      width:100%;
    }

    margin-bottom: 68px - $bannerHeight;

  }

  .title {
    @include Lato-Regular;
    position:relative;
    top:-$bannerHeight - 20px;
    width:100%;
    height:$bannerHeight;
    font-size:14px;
    text-align: center;
    background-image: url('../img/featured_dish_banner.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: $colour_white;
    padding-top:0.5em;
  }


}

.footer-promos {
  width:80%;
  max-width: 940px;
  @include CentringMargins;
  p {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom:0px;
  }

  .promo-tile {
    padding-left:30px;
    padding-right:30px;

    >.container {
      width:100%;
    }

    &:first-child {
      padding-left:15px;
    }
    &:last-child {
      padding-right:15px;
    }
  }
}



.footer {

  height: 254px;
  background-color: $colour_grey_warm;
  width:100%;
  padding-top:17px;

  >.container {
    max-width: 940px;
  }

  .logo {
    margin-right:24px; 
  }

  .social {
    display: inline-block;
    list-style-type: none;
    padding:0;
    margin:0;

    li {
      display: inline-block;
      margin-right:6px;
    }
  }

  .copyright {
    font-size:14px;
  }

  /**************************************************
  * Footer Menu
  **************************************************/
  .footerMenu-group {
    text-align: right;
  }

  .footerMenu {
    list-style-type: none;
    margin:0;

    li {
      display: inline-block;
      font-size:18px;
      a {
        color: $colour_footerMenu;
      }
    }

    &.primary {
      margin-bottom:12px;
      li {
        @include Oswald-Light;
        font-size:1em;
        margin-left: 1.55556em;
        font-weight: bold;
      }
    }

    &.secondary {
      li {
        @include Lato-Light;
        font-size:0.77778em;
        margin-left:0.83333em;
        text-transform: uppercase;
        font-weight: bold;
      }
    }



  }


  @include breakpoint(phone) {

    img {
      display: block;
    }

    ul.social {
      
    }

    ul {
      padding-left:0!important;
      font-size: 15px!important;
      margin-top:5px!important;
      float:left;

      &.secondary {
        float:right;
      }


      li {
        margin-left:8px!important;
        &:first-child {
          margin-left: 0px!important;
        }
      }
    }


    .copyright {
      margin-top:10px;
    }
  }



  
}
