$maxPageWidth: 1600px;
$centreColumnWidth: 940px;
$centreColumnPercentage: 80%;

$menuHeight: 91px;
//$submenuHeight: 132px;
$submenuHeight: auto;
//$submenuItemHeight: 43px;
$submenuItemHeight: auto;
//$submenuPaddingTop: 50px;
$submenuPaddingTop: 0;

$menuHeight_md: 60px;
//$submenuHeight_md: 90px;
$submenuHeight_md: auto;
//$submenuItemHeight_md: 33px;
$submenuItemHeight_md: auto;
//$submenuPaddingTop_md: 30px;
$submenuPaddingTop_md: 0px;


$menuHeight_phone: 50px;

$gradientTextMarginTop: 20px;
$gradientTextMarginBottom: 20px;