$colour_white: #FFFFFF;
$colour_black: #000000;
$colour_red: #ed1c24;
$colour_red2: #db0323;

$colour_red3: #e30425;

$colour_grey_warm: #e4e1e1;
$colour_grey_dark: #1f1f1f;
$colour_grey_light: #8f8f8f;
$colour_grey_lighter: #b9b9b9;

$colour_yellow: #ffcf0a;


$colour_footerMenu: #e51937;
